<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51370283521-10qtkb55tkl1dbblcsg9d1jd6es00odg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51370283521-10qtkb55tkl1dbblcsg9d1jd6es00odg</string>
	<key>API_KEY</key>
	<string>AIzaSyCj1Kp7wo68zgQKPC5lF7YWVq1yD8uuDU8</string>
	<key>GCM_SENDER_ID</key>
	<string>51370283521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saludampm.ampmvideo</string>
	<key>PROJECT_ID</key>
	<string>ampm-ac55b</string>
	<key>STORAGE_BUCKET</key>
	<string>ampm-ac55b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51370283521:ios:2a567a2f3986c1a07ea600</string>
	<key>DATABASE_URL</key>
	<string>https://ampm-ac55b.firebaseio.com</string>
</dict>
</plist>